:root {
  /* primary */
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);

  /* neutral */
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  /* font-size */
}
html {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  background: url(./images/bg-pattern-top-mobile.svg) top left no-repeat,
    url(./images/bg-pattern-bottom-mobile.svg) bottom right no-repeat;
}

.container {
  /* div container for all elements */
  padding: 3.333rem 1.5rem;
}

.catchy, /* 3 main sections of the page */
    .ratings,
    .reviews {
  margin-bottom: 2rem;
}

.hero {
  /* main div inside section-catchy */
  text-align: center;
}
.introHeader {
  /* 1st element in div-hero */
  font-size: 2em;
  font-weight: 700;
  color: var(--VeryDarkMagenta);
  padding: 1.333rem;
  padding-bottom: 0.667rem;
}

.intro {
  /* 2nd element in div-hero */
  font-size: 1em;
  color: var(--DarkGrayishMagenta);
  font-weight: 500;
  line-height: 1.5;
}

.ratebox {
  /*contains div-ratingdiv and p-rating */
  border-radius: 1rem;
  margin-bottom: 0.667rem;
  background-color: var(--LightGrayishMagenta);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1em;
}

.ratingdiv {
  /*div contains the stars.svg */
  text-align: center;
  padding-bottom: 0.677rem;
}

.rating {
  /* p */
  color: var(--VeryDarkMagenta);
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
}

.reviewbox {
  /* contains div-reviewBasic and div-reviewDetail */
  border-radius: 1rem;
  margin-bottom: 1.333rem;
  background-color: var(--VeryDarkMagenta);
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: 1em;
}

.reviewBasic {
  /* contains the customer image and div-profileTag */
  display: flex;
  margin-bottom: 2rem;
  height: 3rem;
}
.profilePhoto {
  /* customer image img */
  border-radius: 50%;
  margin-right: 1.333rem;
  max-height: 100%;
}

.profileTag {
  /* div contains the customer name and type of customer */
  align-self: center;
  padding: 0.333rem;
}

.revName {
  /* customer name */
  font-weight: 700;
  color: var(--White);
  margin: 0;
  padding-bottom: 0.2rem;
}

.revCat {
  /* type of customer */
  color: var(--SoftPink);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.reviewText {
  /* p review comment */
  color: var(--White);
  line-height: 1.5;
}

.attribution {
  font-size: 0.733em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
  body {
    background: url(./images/bg-pattern-top-desktop.svg) top left no-repeat,
      url(./images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .catchy,
  .ratings {
    flex: 1;
    border: 0.166rem solid red;
  }
  .reviews {
    border: 0.166rem solid blue;
    flex-basis: 100%;
    display: flex;
  }
  .hero {
    border: 0.166rem solid green;
    text-align: left;
    padding-top: 2.333rem;
    padding-left: 7rem;
  }
  .introHeader {
    font-size: 4em;
    padding: 0;
    max-width: 35rem;

    /*letter-spacing: -0.1rem;*/
  }
  .intro {
    font-size: 1.2em;
    line-height: 1.5;
    padding-top: 0;
    max-width: 40rem;
    margin-top: 0.667rem;
  }

  .ratingdiv {
    display: inline-block;
    padding-left: 1.333rem;
  }

  .ratingstar {
    padding: 0.133rem;
    padding-bottom: 0;
  }
  .rating {
    display: inline;
    padding-left: 1.333rem;
  }

  .ratebox {
    max-width: 35rem;
    padding-top: 1.333rem;
    margin: 0;
    font-size: 1.2em;
  }
  .stackme0 {
    position: relative;
    top: 4rem;
    left: 1.333rem;
  }

  .stackme1 {
    position: relative;
    top: 5.333rem;
    left: 6rem;
  }
  .stackme2 {
    position: relative;
    top: 7rem;
    left: 10rem;
    margin-right: 7rem;
  }
  .reviewbox {
    max-width: 25.333rem;
    padding-top: 3.333rem;
    padding-right: 2.667rem;
    padding-left: 2.667rem;
    font-size: 1.1em;
    line-height: 1.2;
  }
  .rb0 {
    margin-left: 7rem;
  }
  .rb1 {
    position: relative;
    top: 2rem;
    left: 2rem;
  }
  .rb2 {
    position: relative;
    top: 4rem;
    left: 4rem;
    margin-right: 7rem;
  }

  .attribution {
    font-size: 1em;
  }
}
