:root {
  /* primary */
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);

  /* neutral */
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 15px;
  background: url(./images/bg-pattern-top-mobile.svg) top left no-repeat,
    url(./images/bg-pattern-bottom-mobile.svg) bottom right no-repeat;
}

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
}
.container {
  /*div container for all elements */
  padding: 3.333rem 1.5rem;
}
.catchy, /* 3 main sections of the page */
.ratings,
.reviews {
  margin-bottom: 2rem;
}
.hero {
  /* main div inside section-catchy */
  text-align: center;
}
.introHeader {
  /* 1st element in div-hero */
  font-size: 2em;
  font-weight: 700;
  color: var(--VeryDarkMagenta);
  padding: 1.333rem;
  padding-bottom: 0.667rem;
}
.intro {
  /* 2nd element in div-hero */
  font-size: 1em;
  color: var(--DarkGrayishMagenta);
  font-weight: 500;
  line-height: 1.5;
}
.ratebox {
  /*contains div-ratingdiv and p-rating */
  border-radius: 1rem;
  margin-bottom: 0.667rem;
  background-color: var(--LightGrayishMagenta);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1em;
}
.ratingdiv {
  /*div contains the stars.svg */
  text-align: center;
  padding-bottom: 0.677rem;
}
.rating {
  /* p */
  color: var(--VeryDarkMagenta);
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
}
.reviewbox {
  /* contains div-reviewBasic and div-reviewDetail */
  border-radius: 1rem;
  margin-bottom: 1.333rem;
  background-color: var(--VeryDarkMagenta);
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: 1em;
}
.reviewBasic {
  /* contains the customer image and div-profileTag */
  display: flex;
  margin-bottom: 2rem;
  height: 3rem;
}
.profilePhoto {
  /* customer image img */
  border-radius: 50%;
  margin-right: 1.333rem;
  max-height: 100%;
}
.profileTag {
  /* div contains the customer name and type of customer */
  align-self: center;
  padding: 0.333rem;
}
.revName {
  /* customer name */
  font-weight: 700;
  color: var(--White);
  margin: 0;
  padding-bottom: 0.2rem;
}
.revCat {
  /* type of customer */
  color: var(--SoftPink);
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.reviewText {
  /* p review comment */
  color: var(--White);
  line-height: 1.5;
}
.attribution {
  font-size: 0.733em;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .catchy {
    margin-top: 4rem;
    flex: 1;
    margin-left: 5rem;
    margin-bottom: 0.8rem;
  }
  .hero {
    text-align: left;
  }
  .introHeader {
    font-size: 2.3em;
    padding: 0;
    max-width: 25rem;
  }
  .intro {
    font-size: 0.8em;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0.667rem;
  }
  .ratings {
    flex: 1;
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .ratebox {
    font-size: 0.667em;
    margin-bottom: 0.667rem;
    border-radius: 0.667rem;
    padding-top: 0.333rem;
    padding-bottom: 0.333rem;
    max-width: 70%;
    max-height: 15%;
    text-align: center;
  }
  .ratingdiv {
    padding: 0;
  }
  .rating {
    padding-top: 0.133rem;
  }
  .stackme2 {
    flex: 1;
    position: relative;
    top: 0.337rem;
    left: 6rem;
  }
  .stackme1 {
    flex: 1;
    position: relative;
    top: 0.8rem;
    left: 4rem;
  }
  .stackme0 {
    flex: 1;
    position: relative;
    top: 1.5rem;
    left: 1rem;
  }
  .reviews {
    flex: 1;
    flex-basis: 100%;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 0;
    display: flex;
  }
  .reviewbox {
    font-size: 0.667em;
    line-height: 1.2;
    padding: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.333rem;
  }
  .reviewBasic {
    margin-bottom: 1rem;
  }
  .rb0,
  .rb2 {
    flex: 1;
  }
  .rb1 {
    flex: 1;
    margin-left: 0.667rem;
    margin-right: 0.667rem;
  }

  .attribution {
    font-size: 0.667em;
  }
}
@media screen and (min-width: 1024px) {
  html {
    background: url(./images/bg-pattern-top-desktop.svg) top left no-repeat,
      url(./images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
  }
  .container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .catchy {
    flex: 1;
    margin-top: 8.777rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
  }
  .hero {
    text-align: left;
  }
  .introHeader {
    font-size: 3em;
    padding: 0;
    max-width: 30rem;
  }
  .intro {
    font-size: 1em;
    padding-top: 0;
    max-width: 35rem;
  }
  .ratings {
    flex: 1;
    margin-top: 9rem;
    margin-bottom: 3rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .ratebox {
    font-size: 0.7em;
    margin-bottom: 0.667rem;
    border-radius: 0.667rem;
    padding-top: 0.333rem;
    padding-bottom: 0.333rem;
    max-width: 80%;
    max-height: 20%;
  }
  .ratingdiv {
    display: inline-block;
    padding-right: 0.667rem;
  }
  .rating {
    display: inline-block;
  }
  .stackme2 {
    flex: 1;
    position: relative;
    top: 0.337rem;
    left: 7rem;
  }
  .stackme1 {
    flex: 1;
    position: relative;
    top: 0.8rem;
    left: 4rem;
  }
  .stackme0 {
    flex: 1;
    position: relative;
    top: 1.5rem;
    left: 1rem;
  }
  .reviews {
    flex: 1;
    flex-basis: 100%;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-bottom: 2rem;
    display: flex;
  }
  .reviewbox {
    font-size: 1em;
    line-height: 1.2;
    padding: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.667rem;
  }
  .reviewBasic {
    margin-bottom: 1.5rem;
  }
  .rb0 {
    position: relative;
  }
  .rb2 {
    flex: 1;
    position: relative;
    top: 2rem;
  }
  .rb1 {
    flex: 1;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    position: relative;
    top: 1rem;
  }

  .attribution {
    font-size: 0.667em;
  }
}
